ion-content{
<<<<<<< HEAD
  --background: linear-gradient(0deg, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.6)),
=======
  --background: linear-gradient(0deg, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.4)),
>>>>>>> ed8ff63867f57c9729694ba612af13facf2215ce
  url("/assets/fondo.jpg") no-repeat right center / cover;
}

.content-container {
  position: relative;
  height: 100vh; 
}

.btn-comenzar {
  position: absolute;
  bottom: 50px;
  left: 50%;
  transform: translateX(-50%);
  width: 90%;
  font-weight: 600;
}

.div-logo-duoc{
  width: 250px;
  margin: 25px auto;
  text-align: center;
}

hr{
  background-color: #ffffff;
  height: 2px;
}

.logo-registrapp{
  color: #ffffff;
  font-weight: 800;
  font-size: 46px;
  margin: 0;
}

.logo-registrapp span{
  color: var(--ion-color-mycolor);
}

.block {
  width: 100%;
  height: 600px;
  justify-content: center;
}

ion-modal {
  --height: auto;
  --border-radius: 24px 24px 0 0;
}

.txt-bienvenido{
  text-align: center;
  margin: 30px auto 30px;
  padding: 16px;
  font-weight: bold;
  font-size: 36px;
  color: var(--ion-color-mycolor);
}

.txt-credenciales{
  text-align: center;
  font-size: 20px;
  margin: 10px auto 20px;
  color: rgb(100, 100, 100);
}

.custom-input{
  width: 80%;
  margin: 20px auto 20px;
}

.btn-custom{
  display: block;
  margin: 70px auto 10px;
  width: 80%;
  font-size: 18px;
  font-weight: 600;
}

.link-recuperar{
  text-align: center;
  margin-top: 30px;
  font-size: 16px;
  color: rgb(100, 100, 100);
}

.link-recuperar a{
  color: var(--ion-color-mycolor);
}

.item-has-focus{
  --highlight-background: var(--ion-color-mycolor);
}

/* color del cursor del input*/
.ion-valid.sc-ion-input-md-h {
  --highlight-color: var(--ion-color-mycolor);
}